<link rel="stylesheet" href="navbar.css">

<nav id="mainNavbar" class="navbar sticky-top navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">California School-based Physical Fitness Testing</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navLinks"
            aria-controls="navLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse flex-column" id="navLinks">
            <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <a href="#" class="navbar-brand">California School-based Interactive Map</a>
            </ul> -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ml-5">
                <li class="nav-item">
                    <a href="/" class="nav-link <%= page_name === 'index' && 'active' %>">About</a>
                </li>

                <li class="nav-item">
                    <a href="/california" class="nav-link <%= page_name === 'california' && 'active' %>">School District Map</a>
                </li>

                <li class="nav-item">
                    <a href="/school" class="nav-link <%= page_name === 'school' && 'active' %>">School Map</a>
                </li>

                <li class="nav-item">
                    <a href="/custom" class="nav-link <%= page_name === 'custom' && 'active' %>">Custom Map</a>
                </li>
            </ul>
        </div>
    </div>
    </ol>
</nav>