<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="map.css">

<section class="container-fluid px-0">
    <div class="row align-items-center">
        <div id="headingGroup" class="text-center d-none d-lg-block">
            <h3 class="">School-based Physical Fitness Testing of Orange County School Districts</h3>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-3">
            <div id="headingGroup" class="text-center d-none d-lg-block mt-5">
                <br>
                <h2 class="">2019</h2>
                <h2 class="">2018</h2>
                <h2 class="">2017</h2>
                <h2 class="">2016</h2>
                <h2 class="">2015</h2>
                <h2 class="">2014</h2>
                <h2 class="">2013</h2>
                <h2 class="">2012</h2>
                <h2 class="">2011</h2>
                <h2 class="">2010</h2>
            </div>
        </div>
        <div class="col-lg-9">
            <br>
            <div id="map">

            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script src="/node_modules/leaflet-geoserver-request/src/L.Geoserver.js"></script>

<script>
    var map = L.map('map').setView([33.75, -117.86], 10)
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
    
    var wmsLayer = L.Geoserver.wms("http://160.87.4.187:8080/geoserver/wms", {
        layers: "school_districts:OrangeCounty_19"
    });
    wmsLayer.addTo(map);
</script>