<% layout('layouts/boilerplate') %>

    <div class="content">
        <div id="headingGroup">
            <h1>Mapping the Health Disparities of California School Districts</h1>
        </div>

        <br>

        <div id="aboutText">
            <p>The School-based Physical Fitness Testing Map spotlights health disparities of California School
                Districts.
                This interactive map visualizes 944 school districts across the state and displays Percentage of
                students in
                the Healthy Fitness Zone from the Physical Fitness Testing[1] results. This tool develops a data
                visualization platform and applies geospatial analysis to better understand factors that may affect a
                student’s physical fitness level and allows our communities to visually inspect and contrast the fitness
                testing results across school districts, grades, and time periods.</p>
        </div>

        <br>

        <div id="headingGroup">
            <h2>Physical Fitness Testing (PFT)</h2>
        </div>

        <div id="aboutText">
            <p>The physical fitness test (<a href="https://www.cde.ca.gov/ta/tg/pf/">PFT</a>)
                for students in California schools is the FITNESSGRAM®.
                The main goal of the test is to help students in starting life-long habits of regular physical activity.
                Students in grades five, seven, and nine take the fitness test. The FITNESSGRAM® has six parts, though
                California currently requires five parts be completed annually, that show a level of fitness that offer
                a
                degree of defense against diseases that come from inactivity. The test results can be used by students,
                teachers, and parents. [1]</p>
        </div>

        <br>

        <div id="headingGroup">
            <h2>PFT Statewide Research Files</h2>
        </div>

        <div id="aboutText">
            <p>The map is built on collected data by the
                California Department of Education which is made publicly accessible through a
                dataset known as the Physical Fitness Testing Statewide Research Files (<a
                    href="https://www.cde.ca.gov/ta/tg/pf/pftresearch.asp">PFTSRF</a>). [2]
                PFTSRF encompasses the data collected from 1999 to 2019 with the exception of
                2019-2021 when SB-PFT was suspended due to the COVID-19 pandemic. The fitness
                test assesses six key areas:</p>

            <p style='margin-top:3.0pt;margin-right:0in;
                    margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal'>(1)&nbsp;&nbsp;
                Aerobic
                capacity</p>

            <p style='margin-top:3.0pt;margin-right:0in;
        margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal'>(2)&nbsp;&nbsp; Body composition
            </p>

            <p style='margin-top:3.0pt;margin-right:0in;
    margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal'>(3)&nbsp;&nbsp; Upper body
                strength</p>

            <p style='margin-top:3.0pt;margin-right:0in;
                    margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal'>(4)&nbsp;&nbsp;
                Abdominal strength</p>

            <p style='margin-top:3.0pt;margin-right:0in;
                    margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal'>(5)&nbsp;&nbsp;
                Flexibility</p>

            <p style='margin-top:3.0pt;margin-right:0in;
    margin-left:1.0in;margin-bottom:9.0pt;text-indent:-.25in;line-height:normal'>(6)&nbsp;&nbsp; Trunk lift</p>

            <p>The results are aggregated and reported at the school, school district, county, and state levels. Each
                record
                in the dataset contains the number and percentage of students who fall into discrete categories
                including
                the “Healthy Fitness Zone (HFZ)”, “Needs Improvement”, and “Needs Improvement - High Risk”, categories
                developed by the Cooper Institute. [3]</p>
        </div>

        <br>

        <div id="headingGroup">
            <h3>References:</h3>
        </div>

        <div id="referenceText">
            <p>[1] “Physical Fitness Testing (PFT),” Physical Fitness Testing (PFT) - Testing (CA Dept of Education),
                <a href="https://www.cde.ca.gov/ta/tg/pf/">https://www.cde.ca.gov/ta/tg/pf/</a> (accessed May 11, 2023).
            </p>
    
            <p>[2] “PFT statewide research files,” PFT Statewide Research Files - Physical Fitness Testing (PFT) (CA Dept of
                Education), <a
                    href="https://www.cde.ca.gov/ta/tg/pf/pftresearch.asp">https://www.cde.ca.gov/ta/tg/pf/pftresearch.asp</a>
                (accessed May 11, 2023). </p>
    
            <p>[3] Plowman, S.A. &amp; Meredith, M.D. (Eds.). (2013). Fitnessgram/Activitygram
                Reference Guide (4th Edition). Dallas, TX: The Cooper Institute.</p>
        </div>
        
    </div>