<% layout('layouts/boilerplate') %>

    <div class="content">
        <div id="headingGroup">
            <h1>Changelog</h1>
        </div>

        <br>

        <div id="aboutText">
            <p>This page keeps track of the app's updates. <b>Latest version:</b> ver. 05142024</p>
        </div>

        <br>

        <div id="headingGroup">
            <h2>ver. 05142024 - May 14, 2024</h2>
        </div>

        <div id="aboutText">
            <p>* Optimizations and bugfix for UROP symposium showcases.</p>
        </div>

        <br>

        <div id="headingGroup">
            <h2>ver. 04072024 - April 8, 2024</h2>
        </div>

        <div id="aboutText">
            <p>* New feature: school-level SB-PFT result visualization.</p>
            <p>* New feature: changelogs.</p>
            <p>* Text and UI optimizations.</p>
        </div>

        <br>

        <div id="headingGroup">
            <h2>ver. 12292023 - December 29, 2023</h2>
        </div>

        <div id="aboutText">
            <p>* Fixed the error in processing custom map datasets with CDS Code as identifiers.</p>
        </div>

        <br>

        <div id="headingGroup">
            <h2>ver. 10212023 - October 21, 2023</h2>
        </div>

        <div id="aboutText">
            <p>* UI optimizations in navigation bar.</p>
            <p>* Text optimizations in map and upload pages.</p>
        </div>

        <br>

        <div id="headingGroup">
            <h2>ver. 10132023 - October 13, 2023</h2>
        </div>

        <div id="aboutText">
            <p>* New feature: custom school district dataset upload.</p>
            <p>* New feature: map visualization based on custom school district datasets</p>
            <p>* Some text optimizations.</p>
        </div>

        <br>

        <div id="headingGroup">
            <h2>ver. 06192023 - June 19, 2023</h2>
        </div>

        <div id="aboutText">
            <p>* New display option: filter by county and school districts</p>
            <p>* UI optimizations in the map page.</p>
        </div>
        
        <br>

        <div id="headingGroup">
            <h2>ver. 06092023 - June 9, 2023</h2>
        </div>

        <div id="aboutText">
            <p>* This is the initial AWS implementation.</p>
        </div>
    </div>